/* Flexbox controls */
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: sans-serif;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

.flex-outer li input,
.flex-outer li textarea {
  padding: 15px;
  font-size: 16px;
}

h2, p {
    font-family: sans-serif;
}

/* Mobile view */
@media (max-width: 768px) {
    .flex-outer label {
        display: none;
    }

    .flex-outer li input,
    .flex-outer li textarea {
        font-size: 20px;
    }
}

/* alskdflkasdf */