section {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 200px;  
    opacity: 0;
}

.testimonial-body {
    -webkit-animation: fadein 3s;
    animation-fill-mode: forwards; /* keeps elements at the ending keyframe */
}

.testimonial-body p {
    font-size: 16pt;
    font-style: italic;
    font-family: sans-serif;
    display: inline-block;
}

span.testimonial-signature {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 1%;
    font-family: sans-serif;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Mobile View */
@media (max-width: 768px) {
    .testimonial-body p {
        font-size: 14pt;
    }
}